---
import NavBar from "@/components/NavBar/index.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Portfolio - Legay Nikola">
  <NavBar />
  <h1 class="text-primary">MAIN</h1>
</Layout>
