---

---

<nav class="flex gap-10 justify-self-center text-primary">
  <a href="projects">project</a>
  <a href="about">about</a>
  <a href="projects/kasa">kasa</a>
  <a href="projects/booki">booki</a>
  <a href="error404">404</a>
</nav>
