---
import "@/styles/global.css";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- TODO : CHANGE PICTURE -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio de Nikola Legay : développeur web front-end. Projets, compétences, contact."
    />
    <title>Portfolio Legay Nikola</title>
  </head>
  <body class="bg-primary bg-noise">
    <slot />
  </body>
</html>
